$primary: #3B3B3B;
$secondary: #F2F2F2;
$danger: #FF0000;

$pink: #f17f7f;
$admin-secondary: #2f2f2f;

$light-font: #F2F2F2;
$dark-font: #0A0A0A;

$white:#FFFFFF;
$black:#000000;
$scrollbar-color:#f2f2f2;
$custom-detail-btn:#F2F2F2;